@page
@model CheckOutVisitorModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.PageCheck == false)
{
    <h1 class=" display-4">Welcome Costumer! </h1>
     <form method="post">
      <p>Please enter your parking ID:</p>
      <input type="number" name="id" />
       <p>Please enter the name of you ship:</p>
       <input type="text" name="shipname" />
       <button type="submit">Click me!</button>
      </form>
}
else
{
        <h1>Ship Checked out!</h1>
        <p>Thank you for using our service and we hope to see you again!</p>
        <a href="index">Press here to return to homepage!</a>
 }
