@page
@model CheckOutVisitorModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="divTop" class="divhead">
        <h1 class=" display-4">Welcome Costumer, enter your name to Check out: </h1>
        <form method="post">
            <input type="text" name="name" />
        </form>
    </div>
    <p>
    </p>


</div>
