@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Spacepark!</h1>
    <p>Please enter your name to start parking!</p>
    <input type ="text" name="name" />
</div>
