@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Spacepark!</h1>
    <p>Please use the login window below to register your parking</p>
    <input type ="text" name="name" />
</div>

@foreach (var p in Model.Visitors)
{
    <h3>@p.Name</h3>
}