@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To the Spacepark!</h1>
    <p>Press the button to continue...</p>
    <form method="get">
        <button type="submit" asp-page="CheckInVisitor">Click me to go to the Check in page</button>
    </form>
    <p></p>
    <form method="get">
        <button type="submit" asp-page="CheckOutVisitor">Click me to go to the Check out page</button>
    </form>
</div>
